.brut{background-image: url("images/brut.png");}

.c2{background-image: url("images/c2.png");}

.catha{background-image: url("images/catha.png");}

.g1{background-image: url("images/g1.png");}

.g4{background-image: url("images/g4.png");}

.george3{background-image: url("images/george3.png");}

.gwash{background-image: url("images/gwash.png");}

.harold{background-image: url("images/harold.png");}

.henry8{background-image: url("images/henry8.png");}

.j1{background-image: url("images/j1.jpg");}

.jc{background-image: url("images/jc.png");}

.kmarx{background-image: url("images/kmarx.png");}

.leovi{background-image: url("images/leovi.png");}

.michel{background-image: url("images/michel.png");}

.mqs{background-image: url("images/mqs.png");}

.na{background-image: url("images/na.png");}

.neitz{background-image: url("images/neitz.png");}

.qe1{background-image: url("images/qe1.png");}

.wills1{background-image: url("images/wills1.png");}

.yg{background-image: url("images/yg.png");}